<div class="navbar-fixed">
  <nav class="top-navbar">
    <div class="nav-wrapper">
      <a (click)="handleBurgerClick()" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
      <a href="#!" class="brand-logo hide-on-small-only">
        <div class="logo-container"><img src="/assets/icons/Logo.png" alt="Njord logo"></div>
      </a>
      <ul class="right">
        <li><a><i class="material-icons">notifications_none</i></a></li>
        <li><a><i class="material-icons">mail_outline</i></a></li>
        <li><a (click)="handleProfileClick()" class="dropdown-trigger" data-target="aDropdown">
            <i class="material-icons left user-icon">account_circle</i>
            <span class="hide-on-small-only">{{getName()}}</span>
            <i class="material-icons right hide-on-med-and-down">arrow_drop_down</i>
          </a></li>
      </ul>
    </div>
  </nav>
</div>