<div class="page">
  <div class="container">
    <div class="row">
      <div class="login-box">
        <div class="logo-box"><img src="/assets/icons/Logo.png" alt="Njord logo" /></div>
        <div class="form-box">
          <h1 class='title'>Company Login</h1>

          <p *ngIf="error" style="margin-bottom: 20px;">{{error}}</p>

          <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && !isFetching && handleSubmit()">
            <div class="row">
              <div class="input-field">
                <input id="email" type="email" class="login-input" name="email" required formControlName='email'>
                <label for="email">Email</label>
              </div>

              <div class="input-field" style="margin-bottom: 1.5rem;">
                <input id="password" type="password" class="login-input" name="password" required formControlName='password'>
                <label for="password">Password</label>
              </div>

              <div class="remember-box">
                <label>
                  <input type="checkbox" class="filled-in" />
                  <span class='default-color'>Remember me</span>
                </label>

                <a routerLink='!' class="default-color">Forgot password?</a>
              </div>

              <button class="btn waves-effect waves-light login-btn" type="submit" name="submit" [disabled]="loginForm.invalid || isFetching">
                Sign In
              </button>
            </div>
          </form>

          <a routerLink='!' class="terms">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </div>
</div>