@import '../../variables.scss';

$textColor: #55595c;

input.login-input.ng-invalid.ng-touched {
  border-bottom: 1px solid $dangerColor;
  box-shadow: 0 1px 0 0 $dangerColor;
}

input.login-input:focus:not(.browser-default) {
  border-bottom: 1px solid $primaryColor;
  box-shadow: 0 1px 0 0 $primaryColor;
}

input.login-input:focus + label {
  color: $primaryColor;
}

.page {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  background-image: url('/assets/img/login-background.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  animation: fade-in 0.4s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-box {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.form-box {
  padding: 30px 22px 36px 22px;

  .title {
    font-size: 28px;
    margin: 0;
    margin-bottom: 24px;
    color: $textColor;
  }

  .remember-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
    padding: 0 4px;

    [type='checkbox'] + span:not(.lever) {
      height: 22px;
      line-height: 22px;
      padding-left: 32px;
    }

    [type='checkbox'] + span:not(.lever):after {
      border-radius: 5px;
    }

    [type='checkbox'].filled-in:checked + span:not(.lever):after {
      border: 2px solid $primaryColor;
      background-color: $primaryColor;
    }
  }

  .login-btn {
    width: 100%;
    font-size: 24px;
    text-transform: none;
    border-radius: 0;
    height: auto;
    padding: 8px;
    box-shadow: none;
    margin: 10px 0;

    &:not(:disabled) {
      background-color: #f6cc51;
    }
  }
}

.logo-box {
  height: 72px;
  background-color: $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 32px;
  }
}

.default-color {
  color: $textColor;
}

a.terms {
  color: #3c3c3c;
  text-decoration: underline;
}
