<div class="content">
  <div class="page-container">
    <h1 class="page-title">Proposals</h1>

    <ul class="filter-list">
      <li><a href="" class="filter-dropdown-trigger">Boat Type <i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="" class="filter-dropdown-trigger">Sevice Type <i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="" class="filter-dropdown-trigger">Boat Location <i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="" class="filter-dropdown-trigger">Job Type <i class="material-icons right">arrow_drop_down</i></a></li>
      <li class="apply"><a href="" class="btn">Apply</a></li>
    </ul>

    <div class="table-box">
      <ul class="tabs">
        <li class="tab" [ngClass]="{'active': status === 'pending'}"><a [routerLink]="['./']" [queryParams]="{status: 'pending'}">Pending</a></li>
        <li class="tab" [ngClass]="{'active': status === 'accepted'}"><a [routerLink]="['./']" [queryParams]="{status: 'accepted'}">Accepted</a></li>
        <li class="tab" [ngClass]="{'active': status === 'completed'}"><a [routerLink]="['./']" [queryParams]="{status: 'completed'}">Completed</a></li>
        <li class="tab" [ngClass]="{'active': status === 'declined'}"><a [routerLink]="['./']" [queryParams]="{status: 'declined'}">Declined</a></li>
        <li class="tab" [ngClass]="{'active': status === 'cancelled'}"><a [routerLink]="['./']" [queryParams]="{status: 'cancelled'}">Cancelled</a></li>
      </ul>
      <div *ngIf="isFetching" class="progress loading-bar">
        <div class="indeterminate"></div>
      </div>

      <div class="table-container">
        <div *ngIf="error" class="center empty-box">
          <p>{{error}}</p>
          <button type='button' class="btn-flat" (click)="loadProposalList()">Try again</button>
        </div>

        <div *ngIf="proposalList.length === 0 && (!isFetching && !error)" class="center empty-box">
          <p class='center'>There are no proposals</p>
        </div>

        <table *ngIf="proposalList.length > 0 && !error" class="centered responsive-table">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Boat Type</th>
              <th>Service</th>
              <th>Boat Location</th>
              <th>Job Type</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let proposal of parsedProposalList">
              <td>{{proposal.username}}</td>
              <td>{{proposal.boatType}}</td>
              <td>{{proposal.service}}</td>
              <td>{{proposal.location}}</td>
              <td>
                <div class="prop-type" [ngClass]="{'emergency': proposal.is_emergency}">
                  {{proposal.is_emergency ? 'Emergency': 'Normal'}}
                </div>
              </td>
              <td><i class="material-icons">mail_outline</i></td>
              <td>
                <button type="button" class="btn-small cancel-prop-btn">
                  Cancel Proposal</button>
              </td>
              <td><i class="material-icons">search</i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>